<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dipali.colorhouse">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColorHouse">
        <activity android:name=".Admin1"></activity>
        <activity android:name=".Admin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".OrdersDashboard" />
        <activity android:name=".Booking" />
        <activity android:name=".Search" />
        <activity android:name=".Profile" />
        <activity android:name=".ShopDashboard" />
        <activity android:name=".LoginShop" />
        <activity android:name=".LoginUser" />
        <activity android:name=".Dashboard" />
        <activity android:name=".SignShop2" />
        <activity android:name=".SignShop" />
        <activity android:name=".SignUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>